# Prerequisites
*.d

# Object files
*.o

# Libraries
*.a

# Debug files
*.dSYM/

.DS_Store
CMakeLists.txt

cmake-build-*/
.idea/

.vscode
bin

# http://www.gnu.org/software/automake

Makefile.in
.deps/
.dirstamp

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

